<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwb.flight.mapper.PassengerFtMapper">
    <select id="select" resultType="com.xwb.flight.domain.PassengerFt">
        select * from passenger_ft where username = "Jerry"
    </select>

    <delete id="del">
        delete from passenger_ft where pid = #{pid}
    </delete>

    <insert id="insert" parameterType="com.xwb.flight.domain.PassengerFt" >
        insert into passenger_ft(pname,cardnum,phone,username,add_time,status)
        values(#{pname},#{cardnum},#{phone},"Jerry",now(),0);
    </insert>
</mapper>
