<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xwb.flight.mapper.UserMapper">

    <select id="getUserFtByUsernameAndPassword" resultType="com.xwb.flight.domain.UserFt">
        SELECT * FROM `user_ft` where username =#{username} and password = #{password}
    </select>

    <update id="updatePwdByUsernameAndPwd">
        update user_ft set password  = #{newPwd} where username =#{username} and `password` = #{password}
    </update>
</mapper>